.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url("../assets/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner h1 {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1;
  margin-bottom: 20px;
  display: block;
}
.wrap {
  font-size: 40px;
  font-weight: 300;
}
.banner-name {
  color: #bface0;
  text-shadow: 0 0 0.05em #a084ca, 0 0 0.1em #25316d, 0 0 0.15em #25316d;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 3px #a084ca, 0 0 5px #fff, 0 0 10px #25316d,
      0 0 10px #25316d, 0 0 50px #25316d, 0 0 60px #25316d, 0 0 70px #25316d;
  }

  to {
    text-shadow: 0 0 5px #a084ca, 0 0 8px #645caa, 0 0 12px #645caa,
      0 0 15px #645caa, 0 0 60px #645caa, 0 0 70px #645caa, 0 0 80px #645caa;
  }
}
.banner p {
  color: #b8b8b8;
  font-size: 21px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner img {
  animation: float 4s linear infinite;
}
@keyframes float {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

@media screen and (max-width: 512px) {
  .banner {
    padding: 120px 0 100px 0;
  }

  .banner h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  .banner h1 span {
    background-color: rgb(18, 18, 18, 0.7);
  }
  .banner-name {
    border-radius: 4px;
  }

  .wrap {
    font-size: 27px;
  }

  .banner p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .banner h1 span {
    font-size: 24px;
  }
}
